body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkblue
}
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
h1 {
    background-color: #222;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.semaforo {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 80px;
}

.luz {
    width: 60px;
    height: 60px;
    background-color: #555; 
    border-radius: 50%;
    margin: 10px auto;
}

.luz.vermelho {
    background-color: red;
}

.luz.amarelo {
    background-color: yellow;
}

.luz.verde {
    background-color: green;
}